<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>926382123307-glv3ql1etsmfk94s4rsrh23ggtn2vibi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.926382123307-glv3ql1etsmfk94s4rsrh23ggtn2vibi</string>
	<key>API_KEY</key>
	<string>AIzaSyCvyxnpF0YfvgGBBEbhdgHlekgUKiSssA8</string>
	<key>GCM_SENDER_ID</key>
	<string>926382123307</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.midtermProject</string>
	<key>PROJECT_ID</key>
	<string>midtermproject-e1f10</string>
	<key>STORAGE_BUCKET</key>
	<string>midtermproject-e1f10.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:926382123307:ios:a66c117192fea7a07c7d6e</string>
</dict>
</plist>